<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SwagLabs Mobile Test Suite">

    <test name="Login Tests">
        <classes>
            <class name="com.syafiq.appium.LoginTest"/>
        </classes>
    </test>

    <test name="Product Tests">
        <classes>
            <class name="com.syafiq.appium.ProductPageTest"/>
        </classes>
    </test>

    <test name="Checkout Tests">
        <classes>
            <class name="com.syafiq.appium.CheckoutTest"/>
        </classes>
    </test>

</suite>